body{
    background-color: rgb(198, 222, 241);

}

main{
    margin-top: 2em;
    display: flex;
    gap:2rem;
    justify-content: center;
}

section{
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    padding: 2rem;
    box-sizing: border-box;
    transition-duration: 1s;
}

section:hover{
    box-shadow: 0 0 10px 0 gray;
    border-radius: 20px;
    background-color:  rgb(184, 216, 241);
}

header {
    background-color: #8cbef7;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    box-shadow: 0 2px 10px rgb(141, 141, 141);
}

header h1 {
    margin-bottom: 1rem;
}


.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all;
    transition-duration: 1s;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    filter: brightness(1.2);
}




